<!--====== Portfolio ======-->
<section id="works" class="portfolio section-padding" data-scroll-index="2">
  <div class="container">

    <div class="section-head">
      <h4>My Portfolio</h4>
    </div>

    <div class="row">

      <!-- filter links -->
      <div class="filtering text-center mb-50">
        <span data-filter='*' class="active">All</span>
        <span data-filter='.brand'>Brand</span>
        <span data-filter='.web'>Design</span>
        <span data-filter='.graphic'>Graphic</span>
      </div>

      <!-- gallery -->
      <div class="gallery text-center">

        <!-- gallery item -->
        <div class="col-md-4 items graphic">
          <div class="item-img">
          
          <img src="assets/img/portfolio/1.jpg" alt="image">
          <div class="item-img-overlay">
            <div class="overlay-info v-middle text-center">
              <h6 class="sm-titl">WEB DESIGN</h6>
              <div class="icons">
                <span class="icon">
                  <a href="#0">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                  </a>
                </span>

                <span class="icon link">
                  <a href="assets/img/portfolio/1.jpg">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 items web">
          <div class="item-img">
          
          <img src="assets/img/portfolio/2.jpg" alt="image">
          <div class="item-img-overlay">
            <div class="overlay-info v-middle text-center">
              <h6 class="sm-titl">WEB DESIGN</h6>
              <div class="icons">
                <span class="icon">
                  <a href="#0">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                  </a>
                </span>

                <span class="icon link">
                  <a href="assets/img/portfolio/2.jpg">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 items graphic">
          <div class="item-img">
          
          <img src="assets/img/portfolio/3.jpg" alt="image">
          <div class="item-img-overlay">
            <div class="overlay-info v-middle text-center">
              <h6 class="sm-titl">WEB DESIGN</h6>
              <div class="icons">
                <span class="icon">
                  <a href="#0">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                  </a>
                </span>

                <span class="icon link">
                  <a href="assets/img/portfolio/3.jpg">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 items brand">
          <div class="item-img">
          
          <img src="assets/img/portfolio/4.jpg" alt="image">
          <div class="item-img-overlay">
            <div class="overlay-info v-middle text-center">
              <h6 class="sm-titl">WEB DESIGN</h6>
              <div class="icons">
                <span class="icon">
                  <a href="#0">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                  </a>
                </span>

                <span class="icon link">
                  <a href="assets/img/portfolio/4.jpg">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 items web graphic">
          <div class="item-img">
          
          <img src="assets/img/portfolio/5.jpg" alt="image">
          <div class="item-img-overlay">
            <div class="overlay-info v-middle text-center">
              <h6 class="sm-titl">WEB DESIGN</h6>
              <div class="icons">
                <span class="icon">
                  <a href="#0">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                  </a>
                </span>

                <span class="icon link">
                  <a href="assets/img/portfolio/5.jpg">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          </div>
        </div>

        <!-- gallery item -->
        <div class="col-md-4 items brand">
          <div class="item-img">
          
          <img src="assets/img/portfolio/6.jpg" alt="image">
          <div class="item-img-overlay">
            <div class="overlay-info v-middle text-center">
              <h6 class="sm-titl">WEB DESIGN</h6>
              <div class="icons">
                <span class="icon">
                  <a href="#0">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                  </a>
                </span>

                <span class="icon link">
                  <a href="assets/img/portfolio/6.jpg">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--====== End Portfolio ======-->
