<!--====== Clients ======-->
<section id="clients" class="clients section-padding" data-scroll-index="3">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

        <div class="text-center mb-30">
          <span class="icon icon-quote"></span>
        </div>

        <div class="owl-carousel owl-theme text-center">
          <div class="citem">
            <h6>Alex Smith</h6>
            <p>Lorem ipsum dolor sit amet, conse ctetur elit,sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.Ut enim ad minim veniam,quis nostrud exerci ipsum dolor sit amet.</p>
            <span>Envato Customer</span>
          </div>
          <div class="citem">
            <h6>Alex Smith</h6>
            <p>Lorem ipsum dolor sit amet, conse ctetur elit,sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.Ut enim ad minim veniam,quis nostrud exerci ipsum dolor sit amet.</p>
            <span>Envato Customer</span>
          </div>
          <div class="citem">
            <h6>Alex Smith</h6>
            <p>Lorem ipsum dolor sit amet, conse ctetur elit,sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.Ut enim ad minim veniam,quis nostrud exerci ipsum dolor sit amet.</p>
            <span>Envato Customer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== End Clients ======-->
