<!--====== Numbers ======-->
<div class="numbers text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <span class="icon icon-happy"></span>
          <h5 class="counter">258</h5>
          <h6>Happy Clients</h6>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <span class="icon icon-layers"></span>
          <h5 class="counter">735</h5>
          <h6>Complete Projects</h6>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <span class="icon icon-pencil"></span>
          <h5 class="counter">3910</h5>
          <h6>Lines of Codes</h6>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <span class="icon icon-ribbon"></span>
          <h5 class="counter">6</h5>
          <h6>Awards Received</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====== End Numbers ======-->
