<!-- ====== Hero ======  -->
<section id="about" class="hero section-padding" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="hero-img">
          <img src="assets/img/hero-min-bw.jpg" alt="">
        </div>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <div class="content">
          <h3>I am Elie Michael Ngandu</h3>
          <h6>UI / UX Designer & Web / Software / Mobile app  Developer</h6>
          <p>
            I’m an innovative full-stack developer with over {{experienceYears}} years of experience in the development of software, websites and mobile applications. I love my work and I bielive that it the key that drive me to improve my knolodge and deliver 
            top of line products to my clients/employers.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li><span>Date of birth : </span>23 May 1987</li>
                <li><span>Phone : </span>+27 71 8939 581</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <li><span>Email : </span>ngandu.em@gmail.com</li>
                <li><span>Address : </span>95 Spitskop Ridge, Dolf Van Nie Kerk street, Bloemfontein</li>
              </ul>
            </div>
            <div class="clear-fix"></div>
          </div>

          <a href="#0">
            <span class="buton">Download C.V</span>
          </a>
          <a href="#0">
            <span class="buton buton-bg">Hire Me</span>
          </a>
        </div>
      </div>
      <div class="clear-fix"></div>

      <div class="skills mt-80">
        <div class="col-md-3 col-sm-6" *ngFor="let item of skills">
          <div class="prog-item">
            <h6>{{item.name}}</h6>
            <div class="skills-progress"><span [attr.data-value]='item.percent'></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End Hero ======  -->
