<!-- ====== Hero ======  -->
<section id="about" class="hero section-padding" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="hero-img">
          <img src="assets/img/hero-min-bw.jpg" alt="">
        </div>
      </div>
      <div class="col-md-offset-1 col-md-7">
        <div class="content">
          <h3>I am Elie Michael Ngandu</h3>
          <h6>UI / UX Designer & Web / Software / Mobile app  Developer</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo.</p>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li><span>Date of birth : </span>23 May 1987</li>
                <li><span>Phone : </span>+27 71 8939 581</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <li><span>Email : </span>ngandu.em@gmail.com</li>
                <li><span>Address : </span>95 Spitskop Ridge, Dolf Van Nie Kerk street, Bloemfontein</li>
              </ul>
            </div>
            <div class="clear-fix"></div>
          </div>

          <a href="#0">
            <span class="buton">Download C.V</span>
          </a>
          <a href="#0">
            <span class="buton buton-bg">Hire Me</span>
          </a>
        </div>
      </div>
      <div class="clear-fix"></div>

      <div class="skills mt-80">
        <div class="col-md-3 col-sm-6">
          <div class="prog-item">
            <h6>Branding</h6>
            <div class="skills-progress"><span data-value='80%'></span></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="prog-item">
            <h6>Web Design</h6>
            <div class="skills-progress"><span data-value='95%'></span></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="prog-item">
            <h6>Development</h6>
            <div class="skills-progress"><span data-value='75%'></span></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="prog-item">
            <h6>Seo</h6>
            <div class="skills-progress"><span data-value='85%'></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End Hero ======  -->
