<!--====== Services ======-->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="owl-carousel owl-theme">
        <div class="sitem">
          <span class="icon icon-laptop"></span>
          <div class="content">
            <h6>Web Design</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry took a galley of type and scrambled.</p>
          </div>
        </div>
        <div class="sitem">
          <span class="icon icon-megaphone"></span>
          <div class="content">
            <h6>Branding</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry took a galley of type and scrambled.</p>
          </div>
        </div>
        <div class="sitem">
          <span class="icon icon-layers"></span>
          <div class="content">
            <h6>Development</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry took a galley of type and scrambled.</p>
          </div>
        </div>
        <div class="sitem">
          <span class="icon icon-aperture"></span>
          <div class="content">
            <h6>Marketing</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry took a galley of type and scrambled.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== End Services ======-->
